.contentsArea {
	background-color: #ffffff;
}
.bg {
	position: absolute;
	width: 768px;
	height: 1024px;
	background: url('../bg/page091/bg_00.png') no-repeat;
	background-size: 768px 1024px;
	opacity: 0.4;
}
.contentsText {
	top: 25px;
	left: 30px;
	width: 467px;
	line-height: 26px;
}
figure .capMark {
	margin-top: 14px;
}
figure figcaption > span {
	top: 7px;
}
.contents_right .zoomBtn {
	top: 159px;
	left: 708px;
}
.contents_right .captionText {
	position: absolute;
	top: 151px;
	left: 2px;
	width: 131px;
	font-family: NanumGothic;
	font-size: 12px;
	letter-spacing: -0.8px;
}
.contents_right figcaption {
	margin-top: 15px;
}
.doitArea .doitTitle {
	top: 368px;
	left: 30px;
}
.doitArea .doitText {
	top: 399px;
	left: 115px;
	/*font-weight: bold;*/
}
.doitArea .doitImg {
	position: absolute;
	top: 430px;
	left: 112px;
	width: 512px;
	height: 233px;
	background: url(../images/page091/page091_02.png) no-repeat;
	background-size: contain;
}
.doitArea .zoomBtn {
	top: 590px;
	left: 707px;
}
.doitArea .imgCaption {
	top: 609px;
	left: 606px;
}
.doitArea .captionText {
	top: 605px;
	left: 625px;
	width: 123px;
	line-height: 1.5;
	font-family: NanumGothicB;
	font-size: 12px;
	letter-spacing: -0.3px;
}
.pointPopBtn {
	top: 985px;
	left: 30px;
}
.formationPopBtn {
	top: 985px;
	left: 132px;
}
.inputText {
	top: 711px;
	left: 115px;
	width: 599px;
	height: 22px;
}
.active_1 .activeTitle {
	top: 682px;
	left: 61px;
}
.active_2 .activeTitle {
	top: 776px;
	left: 61px;
}
.mouseIcon {
	top: -7px;
	left: -15px;
}
.linkArea {
	position: absolute;
	top: 803px;
	left: 115px;
	letter-spacing: -0.4px;
}
.linkArea span:nth-child(2) {
	color: #4874a0;
}
.selfArea {
	top: 882px;
	width: 768px;
	font-weight: bold;
}
.quiz_2 {
	position: absolute;
	top: 20px;
	left: 131px;
}
.quiz_2 .inputText {
	top: -4px;
	left: 356px;
	width: 174px;
	height: 17px;
}
.quiz_3 {
	position: absolute;
	top: 44px;
	left: 131px;
}
.quiz_3 .inputText {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 1px;
    width: 63px;
    height: 17px;
    margin-right: 3px;
}
.qCheckImg{

}
.activeTitle span:nth-child(3) {
	width: 560px;
}
.quiz_4 .inputTextBox_1 {
	top: 238px;
	left: 91px;
	width: 32px;
	height: 17px;
}
.quiz_4 .inputTextBox_2 {
	top: 466px;
	left: 91px;
	width: 20px;
	height: 16px;
}
.quiz_4 .quizAnswer {
	font-size: 14px;
}
.popbox.formationpopbox.full .iconCircle img {
	position: relative;
	top: 8px;
	left: 11px;
}
.question_1 .bogi {
	top: 134px;
	left: 57px;
	width: 315px;
	height: 205px;
}
.question_2 .bogi {
	top: 445px;
	left: 57px;
	width: 315px;
	height: 80px;
}
.question_2 .bogi .bogiContents {
	top: 16px;
	left: 19px;
	width: 281px;
	line-height: 26px;
	text-indent: 9px;
}
.question_4 .bogi {
	top: 445px;
	left: 411px;
	width: 305px;
	height: 80px;
}

.quiz_5 .inputText {
    width: 20px;
    height: 18px;
}
.popbox .quiz {
	z-index: 5;
}

.choiceBoxStyle {
    width: 20px;
    height: 20px;
    display: none;
}

.checkBoxContainer {
	position: relative;
    top: 155px;
    left: 424px;
    font-size: 14px;
    z-index: 1;
    font-family: BatangMedium;
}
.answerText {
    position: absolute;
    top: 3px;
    left: 51px;
    width: 260px;
    color: #000;
    font-size: 14px;
    font-family: NanumGothic;
}
.target_1.textBallon {
	top: 25px;
	left: 29px;
	width: 676px;
    padding: 13px 14px;
}
.target_1.textBallon .bottom {
	top: 264px;
	left: 75.2%;
}
.target_1 .ballonText {
	display: inline-block;
	width: 283px;
	vertical-align: top;
	margin-right: 12px;
	line-height: 29px;
}

.quiz_1 .textBallon .bottom {
	top: 60px;
	left: 96.4%;
}

.quiz_9 .textBallon {
    top: 673px;
    left: 115px;
	width: 584px;
    letter-spacing: 0.8px;
    line-height: 22px;
}
.quiz_9 .textBallon .bottom {
    top: 81px;
    left: 96.5%;
}
.subIcon {
	top: 755px;
	left: 60px;
}
/*지도 인터렉션*/
.popbox.zoom .popContainer {
    height: 443px;
}
.popbox.zoom_1popbox .legendContainer, .bgContainer {
    position: absolute;
    top: 79px;
    left: 51px;
    width: 568px;
    height: 325.5px;
}
.bgContainer {
    background: url('../images/page091/page091_04_0.png') no-repeat;
    background-size: contain;
    z-index: 10;
}
.popbox.zoom_1popbox .legendContainer img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.popbox.zoom_1popbox .legendContainer ul {
    position: absolute;
    top: 189px;
    left: 349px;
    z-index: 20;
}
.popbox.zoom_1popbox .legendContainer ul li {
    width: 17px;
    height: 11px;
    margin-bottom: 3.6px;
}
.popbox.zoom_1popbox .legendContainer ul li:first-child {background-color: #005513;}
.popbox.zoom_1popbox .legendContainer ul li:nth-child(2) {background-color: #008d32;}
.popbox.zoom_1popbox .legendContainer ul li:nth-child(3) {background-color: #61b75d; }
.popbox.zoom_1popbox .legendContainer ul li:last-child {background-color: #dbdcdc;}

